<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hw3</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet">
    <style>
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</head>

<body id="search">
    <%- include('partials/navbar.ejs') %>
    <div id="main">
    <h1>
        <%= species %> characters
    </h1>

    <% for (let i of characters) { %>
        <div>
            <h3>
                <%= i.name %>
            </h3>
            <img src="<%= i.image %>" width="150">
            <p>Status: <%= i.status %>
            </p>
        </div>
        <hr>
        <% } %>
</div>

  <footer class="text-center mt-5 p-3">
    <p>© 2026 Ruth Ramirez</p>
    <p>CST336 Internet Programming</p>
    <p>Disclaimer: This site is for academic purposes only.</p>
</footer>

</body>

</html>